body {
    margin: 0;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

a.nav-link{
    color: #333!important;
    font-weight: bold;
}

a.nav-link:hover{
    color: #F4C136!important;
    
}

.navbar-nav {
    background-color: #ffffffef;

}

.navbar-light .navbar-toggler {
    border-color: rgba(255, 255, 255, 0)!important;
}


.section h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

.section1 {
    background: linear-gradient(110deg, #fff 60%, #f2f3f7 60%);
}

.section2 {
    background: #1BBC9B;
}

.section3 {
    background: #7E8F7C;
}


.section4 {
  background: -webkit-gradient(linear, top left, bottom left, from(#DC456E), to(#A332C4));
  background: -webkit-linear-gradient(#DC456E, #A332C4);
  background: linear-gradient(#DC456E,#A332C4);
}

#contact-form-header {
  padding-top: 8rem;
}
form {
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}

.form-group {
  margin-bottom: .2rem!important;
}

.btn-primary {
  color: #343a40!important;
  border-color: #F4C136!important;
  background: #F4C136!important;
  padding: .5rem 3rem;
    border-radius: .2em!important;
    margin-bottom: 5%;
}

#social {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 70;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    letter-spacing: 1px;
    font-size: 1.1em;
  }

  .btn-group-lg>.btn, .btn-lg {
    padding: .5rem 3rem;
    border-radius: .2em!important;
    margin-bottom: 5%;
}
.btn-outline-primary {
  color: #343a40!important;
  border-color: #F4C136!important;
  background: #F4C136!important;
}

.btn-outline-primary:hover {
  color: #343a40!important;
  border-color: #F4C136!important;
  background: #F4C136!important;
}
.img1 {
  position: absolute;
  right: 500px;
  bottom: 400px;
  z-index: 0;
}

.img2 {
  position: absolute;
  right: 0px;
  bottom: 350px;
  z-index: 0;
}

.img3 {
  position: absolute;
  right: 400px;
  bottom: 0px;
  z-index: 0;
}


.img4 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}


.header-Agency {
    /* text-align: center;
    margin-right: 35%; */
    /* top: 50%;
    left: 8%;
    margin-top: -50px; */
    position: relative;
    z-index: 3;

padding-left: 10%;
padding-right: 10%;
}

#header1 {
  float: left;
  padding-left: 20;
}

.about-us {
  padding-left: 10%;
padding-right: 10%;
}


@media (min-width: 768px) and (max-width: 979px) {
  /* Tablet */
    .img1 {
        position: absolute;
        right: 500px;
        bottom: 450px;
        z-index: 1;
      
      }
    
      .img2 {
        position: absolute;
        right: 0px;
        bottom: 450px;
        z-index: 1;
        
      }
    
      .img3 {
        position: absolute;
        right: 400px;
        bottom: 0px;
        z-index: 1;
        
      }
    
    
      .img4 {
        position: absolute;
        right: 0px;
        bottom: 0px;
        z-index: 1;
    
      }
    
      }

      @media (min-width: 481px) and (max-width: 767px) { 
 /* Big phones */
        .img1 {
            visibility: hidden;
          }
        
          .img2 {
            visibility: hidden;
          }
        
          .img3 {
            visibility: hidden;
          }
        
        
          .img4 {
            position: absolute;
            right: 0px;
            bottom: 0px;
            z-index: 1;
          }
        }


        @media (max-width: 480px) {
    /* Small Phones */
            .img1 {
                visibility: hidden;
              }
            
              .img2 {
                visibility: hidden;
          
              }
            
              .img3 {
                visibility: hidden;
              }
            
            
              .img4 {
                position: absolute;
            right: 0px;
            bottom: 0px;
            z-index: 1;
              }
            }